{% extends 'main/layout.html' %}

{% block title %}Мои проекты{% endblock %}

{% block content %}
    <div class="features">
        <h1>Мои проекты</h1>
        <br>
        <div class="filter">
            <form method="get" class="filter-form">
                <div class="filter-order">
                <label for="sort_select">Сортировать:</label>
                <select name="order" id="sort_select">
                    <option value="desc" {% if order_direction == "desc" %}selected{% endif %}>от новых к старым</option>
                    <option value="asc" {% if order_direction == "asc" %}selected{% endif %}>от старых к новым</option>
                </select>
                </div>
                <div class="filter-date">
                    {{ filter.form.label_tag }}
                    {{ filter.form }}
                </div>
                <button type="submit" class="filter-button-apply">Применить</button>
                <div class="filter-button-clear-wrapper"><a href="{% url 'list_git' %}">
                    <div class="filter-button-clear">Сбросить</div></a>
                </div>
            </form>
        </div>
        <br>
        <table class="table-github">
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Язык</th>
                <th id="date">Дата</th>
                <th>Ссылка</th>
            </tr>
            {% if filter.qs|length > 1 %}
                {% for el in filter.qs %}
                    <tr class="{% cycle 'odd_row' 'even_row' %}">
                        <td class="{% cycle 'odd_td' 'even_td' %}">{{ forloop.counter }}</td>
                        <td class="{% cycle 'odd_td' 'even_td' %}">{{ el.name }}</td>
                        <td class="{% cycle 'odd_td' 'even_td' %}">{{ el.descript }}</td>
                        <td class="{% cycle 'odd_td' 'even_td' %}">{{ el.language }}</td>
                        <td class="{% cycle 'odd_td' 'even_td' %}">{{ el.date|date:"d.m.Y" }}</td>
                        <td class="{% cycle 'odd_td' 'even_td' %}"><a href="{{ el.url }}"><i class="fa-brands fa-github fa-xl st"></i></a></td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for el in filter.qs %}
                    <tr class="single_row">
                        <td>1</td>
                        <td>{{ el.name }}</td>
                        <td>{{ el.descript }}</td>
                        <td>{{ el.language }}</td>
                        <td>{{ el.date|date:"d.m.Y" }}</td>
                        <td><a href="{{ el.url }}"><i class="fa-brands fa-github fa-xl st"></i></a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}